<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <!-- HttpAuth -->
    <add key="HttpAuth" value="Digest" />
    <add key="HttpAuth.Realm" value="SecureZone" />
    <add key="HttpAuth.Credentials" value="hoge:hogepass;foo:foopass;"/>
    <add key="HttpAuth.RestrictIPAddresses" value="127.0.0.1;182.249.0.0/16;182.248.112.128/26;::1" />
  </appSettings>
  <system.webServer>
    <modules>
      <add type="HttpAuthModule.HttpAuthModule" name="HttpAuthModule"/>
    </modules>
  </system.webServer>
</configuration>
